OCI_CONFIG_PROFILE=DEFAULT
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..reemplaza_con_el_tuyo
OCI_SERVICE_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
OCI_EMBED_MODEL_ID=cohere.embed-multilingual-v3.0
OCI_CHAT_MODEL_ID=cohere.command-r-08-2024
